body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

header {
    background-color: #fff;
    color: #fff;
    /* padding: 10px 0; */
    text-align: center;
    margin:0;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    background-color: #8ab384;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-menu a:hover {
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50em;
    min-height: 40em;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#prompt {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}



.text {
    padding: 20px;
    margin: 20px auto;
  }

.image-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 55%;
    transform: scale(0.5) translate(0, 5%);
}

.emailsignup {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#message{
    display: flex;
    width: 40em; 
    min-height: 20em;
}

#from_name, #user_email{
    padding:0.25em;
    margin-bottom: 2em;
    width: 50%;
}